USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 3/21/2026 10:30:34 PM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaLop] [varchar](20) NOT NULL,
	[MaHocKy] [varchar](20) NOT NULL,
	[LanHoc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[HocVi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [varchar](20) NOT NULL,
	[TenHocKy] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaHocTap]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHocTap](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaDangKy] [int] NOT NULL,
	[DiemQT] [decimal](4, 1) NULL,
	[DiemThi] [decimal](4, 1) NULL,
	[DiemTongKet] [decimal](4, 1) NULL,
	[XepLoai] [nvarchar](20) NULL,
	[QuaMon] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[MaLichHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaPhanCong] [int] NOT NULL,
	[ThuTrongTuan] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[TietKetThuc] [int] NOT NULL,
	[PhongHoc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[KhoaHoc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[HeSoQT] [decimal](3, 2) NOT NULL,
	[HeSoCK] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaLop] [varchar](20) NOT NULL,
	[MaHocKy] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](10) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[MaLop] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/21/2026 10:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauHash] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[LanDangNhapSai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV001', NULL, N'CNTT', N'Nguyễn Văn An', N'nguyenvanan@qnu.edu.vn', N'Tiến sĩ')
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV002', NULL, N'CNTT', N'Trần Thị Bình', N'tranthihinh@qnu.edu.vn', N'Thạc sĩ')
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV003', NULL, N'CNTT', N'Lê Văn Cường', N'levancuong@qnu.edu.vn', N'Tiến sĩ')
GO
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'HK1-2022-2023', N'Học kỳ 1 năm học 2022-2023', CAST(N'2022-09-01' AS Date), CAST(N'2023-01-15' AS Date), N'Đã kết thúc')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'HK1-2023-2024', N'Học kỳ 1 năm học 2023-2024', CAST(N'2023-09-01' AS Date), CAST(N'2024-01-15' AS Date), N'Đã kết thúc')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (N'HK1-2024-2025', N'Học kỳ 1 năm học 2024-2025', CAST(N'2024-09-01' AS Date), CAST(N'2025-01-15' AS Date), N'Đã kết thúc')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công nghệ Thông tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KT', N'Kế toán')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KH', N'Khoa học Tự nhiên')
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44A', N'CNTTK44A - Khóa 44', N'CNTT', N'2021')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44B', N'CNTTK44B - Khóa 44', N'CNTT', N'2021')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44C', N'CNTTK44C - Khóa 44', N'CNTT', N'2021')
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT101', N'Lập trình căn bản', N'CNTT', 3, CAST(0.30 AS Decimal(3, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT102', N'Cấu trúc dữ liệu', N'CNTT', 3, CAST(0.30 AS Decimal(3, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT201', N'Lập trình Web', N'CNTT', 3, CAST(0.40 AS Decimal(3, 2)), CAST(0.60 AS Decimal(3, 2)))
GO
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'SV001', NULL, N'CNTTK45A', N'Nguyễn Văn An', CAST(N'2004-01-15' AS Date), N'Nam', NULL, N'0901234561', N'sv001@gmail.com', N'Đang học')
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'SV002', NULL, N'CNTTK45A', N'Trần Thị Bình', CAST(N'2004-03-20' AS Date), N'Nữ', NULL, N'0901234562', N'sv002@gmail.com', N'Đang học')
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'SV003', NULL, N'CNTTK45A', N'Lê Văn Cường', CAST(N'2004-05-10' AS Date), N'Nam', NULL, N'0901234563', N'sv003@gmail.com', N'Đang học')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (1, N'admin', N'$2a$11$dqNcmTk/JW0WekYsGLiQyO9Gb4IisBuri3s8IoS1ZyX52Tn2inyqS', N'Admin', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (2, N'canbo', N'$2a$11$CvjPkWVMKlvwqtPtwYlNgeD1Ciaeev9/X56CtnaV1S/.ITkUKI4Yq', N'CanBo', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (3, N'giangvien', N'$2a$11$CvjPkWVMKlvwqtPtwYlNgeD1Ciaeev9/X56CtnaV1S/.ITkUKI4Yq', N'GiangVien', 1, 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DangKyHoc]    Script Date: 3/21/2026 10:30:35 PM ******/
ALTER TABLE [dbo].[DangKyHoc] ADD  CONSTRAINT [UQ_DangKyHoc] UNIQUE NONCLUSTERED 
(
	[MSSV] ASC,
	[MaMon] ASC,
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GiangVien_MaTaiKhoan]    Script Date: 3/21/2026 10:30:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_GiangVien_MaTaiKhoan] ON [dbo].[GiangVien]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__KetQuaHo__BA90F02C55FE21D0]    Script Date: 3/21/2026 10:30:35 PM ******/
ALTER TABLE [dbo].[KetQuaHocTap] ADD UNIQUE NONCLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SinhVien_MaTaiKhoan]    Script Date: 3/21/2026 10:30:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SinhVien_MaTaiKhoan] ON [dbo].[SinhVien]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC00018B9A6]    Script Date: 3/21/2026 10:30:35 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHoc] ADD  DEFAULT ((1)) FOR [LanHoc]
GO
ALTER TABLE [dbo].[HocKy] ADD  DEFAULT (N'Đang diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((3)) FOR [SoTinChi]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((0.30)) FOR [HeSoQT]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((0.70)) FOR [HeSoCK]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Đang học') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [LanDangNhapSai]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKyHoc] ([MaDangKy])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaPhanCong])
REFERENCES [dbo].[PhanCong] ([MaPhanCong])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD CHECK  (([DiemQT]>=(0.0) AND [DiemQT]<=(10.0)))
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD CHECK  (([DiemThi]>=(0.0) AND [DiemThi]<=(10.0)))
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD CHECK  (([ThuTrongTuan]>=(2) AND [ThuTrongTuan]<=(8)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CHK_MonHoc_HeSo] CHECK  ((([HeSoQT]+[HeSoCK])=(1.00)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CHK_MonHoc_HeSo]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CHK_SinhVien_SDT] CHECK  ((len([SoDienThoai])=(10) AND [SoDienThoai] like '0%'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CHK_SinhVien_SDT]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CHK_SinhVien_Tuoi] CHECK  ((datediff(year,[NgaySinh],getdate())>=(18)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CHK_SinhVien_Tuoi]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'SinhVien' OR [VaiTro]=N'GiangVien' OR [VaiTro]=N'CanBo' OR [VaiTro]=N'Admin'))
GO
USE [master]
GO
