USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 4/25/2026 2:40:00 AM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[CauHinhQR]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhQR](
	[Id] [int] NOT NULL,
	[TenNganHang] [nvarchar](100) NULL,
	[MaNganHang] [varchar](20) NULL,
	[SoTaiKhoan] [varchar](30) NULL,
	[TenChuTaiKhoan] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLichHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLichHoc](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaLhp] [varchar](20) NOT NULL,
	[Thu] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaLop] [varchar](20) NOT NULL,
	[MaHocKy] [varchar](20) NOT NULL,
	[LanHoc] [int] NOT NULL,
	[MaLhp] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonGiaHocPhi]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonGiaHocPhi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [varchar](20) NOT NULL,
	[KhoaHoc] [varchar](20) NOT NULL,
	[SoTienMotTinChi] [decimal](18, 0) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[HocVi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [varchar](20) NOT NULL,
	[TenHocKy] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GioiHanTinChi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaHocTap]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHocTap](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaDangKy] [int] NOT NULL,
	[DiemQT] [decimal](4, 1) NULL,
	[DiemThi] [decimal](4, 1) NULL,
	[DiemTongKet] [decimal](4, 1) NULL,
	[XepLoai] [nvarchar](20) NULL,
	[QuaMon] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[MaLichHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaPhanCong] [int] NOT NULL,
	[ThuTrongTuan] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[TietKetThuc] [int] NOT NULL,
	[PhongHoc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[KhoaHoc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [varchar](20) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaGv] [varchar](10) NOT NULL,
	[MaLop] [nvarchar](50) NULL,
	[MaHocKy] [varchar](20) NOT NULL,
	[Thu] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NOT NULL,
	[PhongHoc] [nvarchar](50) NULL,
	[SiSoToiDa] [int] NULL,
	[ThoiKhoaBieu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[HeSoQT] [decimal](3, 2) NOT NULL,
	[HeSoCK] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[MaLop] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](10) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[MaLop] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauHash] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[LanDangNhapSai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToanHocPhi]    Script Date: 4/25/2026 2:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanHocPhi](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[Mssv] [varchar](20) NOT NULL,
	[MaHocKy] [varchar](20) NOT NULL,
	[SoTienDong] [decimal](18, 0) NOT NULL,
	[NgayDong] [datetime] NULL,
	[HinhThuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CauHinhQR] ([Id], [TenNganHang], [MaNganHang], [SoTaiKhoan], [TenChuTaiKhoan]) VALUES (1, N'BIDV Bank', N'BIDV', N'0842875557', N'HO QUOC THANG')
GO
SET IDENTITY_INSERT [dbo].[ChiTietLichHoc] ON 

INSERT [dbo].[ChiTietLichHoc] ([MaChiTiet], [MaLhp], [Thu], [TietBatDau], [SoTiet]) VALUES (1, N'22013456735', 2, 3, 2)
INSERT [dbo].[ChiTietLichHoc] ([MaChiTiet], [MaLhp], [Thu], [TietBatDau], [SoTiet]) VALUES (2, N'22013456735', 3, 2, 3)
INSERT [dbo].[ChiTietLichHoc] ([MaChiTiet], [MaLhp], [Thu], [TietBatDau], [SoTiet]) VALUES (3, N'22013456735', 5, 3, 3)
SET IDENTITY_INSERT [dbo].[ChiTietLichHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKyHoc] ON 

INSERT [dbo].[DangKyHoc] ([MaDangKy], [MSSV], [MaMon], [MaLop], [MaHocKy], [LanHoc], [MaLhp]) VALUES (8, N'4551050198', N'CNTT301', N'CNTTK45D', N'HK2-2024-2025', 1, NULL)
INSERT [dbo].[DangKyHoc] ([MaDangKy], [MSSV], [MaMon], [MaLop], [MaHocKy], [LanHoc], [MaLhp]) VALUES (9, N'4551050198', N'CNTT102', N'CNTTK45D', N'HK2-2024-2025', 1, N'22013456788')
INSERT [dbo].[DangKyHoc] ([MaDangKy], [MSSV], [MaMon], [MaLop], [MaHocKy], [LanHoc], [MaLhp]) VALUES (11, N'4551050199', N'CNTT102', N'CNTTK45D', N'HK2-2024-2025', 1, N'22013456788')
SET IDENTITY_INSERT [dbo].[DangKyHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonGiaHocPhi] ON 

INSERT [dbo].[DonGiaHocPhi] ([Id], [MaKhoa], [KhoaHoc], [SoTienMotTinChi], [GhiChu]) VALUES (2, N'CNTT', N'K45', CAST(450000 AS Decimal(18, 0)), N'hehe')
SET IDENTITY_INSERT [dbo].[DonGiaHocPhi] OFF
GO
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV0000', 15, N'CNTT', N'Nguyễn Văn A', NULL, N'Giáo sư')
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV0002', 16, N'CNTT', N'Nguyễn Văn B', NULL, N'Giáo sư')
INSERT [dbo].[GiangVien] ([MaGV], [MaTaiKhoan], [MaKhoa], [HoTen], [Email], [HocVi]) VALUES (N'GV0004', 17, N'CNTT', N'Nguyễn Văn E', NULL, N'Tiến sĩ')
GO
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai], [GioiHanTinChi]) VALUES (N'HK1-2022-2023', N'Học kỳ 1 năm học 2022-2023', CAST(N'2022-09-01' AS Date), CAST(N'2023-01-15' AS Date), N'Đã kết thúc', NULL)
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai], [GioiHanTinChi]) VALUES (N'HK1-2023-2024', N'Học kỳ 1 năm học 2023-2024', CAST(N'2023-09-01' AS Date), CAST(N'2024-01-15' AS Date), N'Đã kết thúc', NULL)
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy], [NgayBatDau], [NgayKetThuc], [TrangThai], [GioiHanTinChi]) VALUES (N'HK1-2024-2025', N'Học kỳ 1 năm học 2024-2025', CAST(N'2024-09-01' AS Date), CAST(N'2025-01-15' AS Date), N'Đã kết thúc', NULL)
GO
SET IDENTITY_INSERT [dbo].[KetQuaHocTap] ON 

INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaDangKy], [DiemQT], [DiemThi], [DiemTongKet], [XepLoai], [QuaMon]) VALUES (1, 8, CAST(10.0 AS Decimal(4, 1)), CAST(6.3 AS Decimal(4, 1)), CAST(7.8 AS Decimal(4, 1)), N'Khá', 1)
INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaDangKy], [DiemQT], [DiemThi], [DiemTongKet], [XepLoai], [QuaMon]) VALUES (2, 9, CAST(10.0 AS Decimal(4, 1)), CAST(9.0 AS Decimal(4, 1)), CAST(9.3 AS Decimal(4, 1)), N'Xuất sắc', 1)
INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaDangKy], [DiemQT], [DiemThi], [DiemTongKet], [XepLoai], [QuaMon]) VALUES (3, 11, CAST(0.0 AS Decimal(4, 1)), CAST(1.0 AS Decimal(4, 1)), CAST(0.7 AS Decimal(4, 1)), N'Kém', 0)
SET IDENTITY_INSERT [dbo].[KetQuaHocTap] OFF
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT', N'Công nghệ Thông tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KT', N'Kế toán')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KH', N'Khoa học Tự nhiên')
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44A', N'CNTTK44A - Khóa 44', N'CNTT', N'2021')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44B', N'CNTTK44B - Khóa 44', N'CNTT', N'2021')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'CNTTK44C', N'CNTTK44C - Khóa 44', N'CNTT', N'2021')
GO
INSERT [dbo].[LopHocPhan] ([MaLHP], [MaMon], [MaGv], [MaLop], [MaHocKy], [Thu], [TietBatDau], [SoTiet], [PhongHoc], [SiSoToiDa], [ThoiKhoaBieu]) VALUES (N'22013451111', N'CNTT301', N'GV118', NULL, N'HK1-2025-2026', 2, 6, 3, N'A5.11', 40, N'T2 (Tiết 6-8) | T5 (Tiết 3-5) | CN (Tiết 1-2)')
INSERT [dbo].[LopHocPhan] ([MaLHP], [MaMon], [MaGv], [MaLop], [MaHocKy], [Thu], [TietBatDau], [SoTiet], [PhongHoc], [SiSoToiDa], [ThoiKhoaBieu]) VALUES (N'22013456700', N'CNTT201', N'GV0000', NULL, N'HK2-2024-2025', 2, 1, 3, N'A3.102', 40, NULL)
INSERT [dbo].[LopHocPhan] ([MaLHP], [MaMon], [MaGv], [MaLop], [MaHocKy], [Thu], [TietBatDau], [SoTiet], [PhongHoc], [SiSoToiDa], [ThoiKhoaBieu]) VALUES (N'22013456701', N'CNTT101', N'GV0000', NULL, N'HK2-2024-2025', 2, 4, 2, N'A3.102', 40, NULL)
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT101', N'Lập trình căn bản', N'CNTT', 3, CAST(0.30 AS Decimal(3, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT102', N'Cấu trúc dữ liệu', N'CNTT', 3, CAST(0.30 AS Decimal(3, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [MaKhoa], [SoTinChi], [HeSoQT], [HeSoCK]) VALUES (N'CNTT201', N'Lập trình Web', N'CNTT', 3, CAST(0.40 AS Decimal(3, 2)), CAST(0.60 AS Decimal(3, 2)))
GO
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'4551050111', 19, N'LuatK45A', N'Nguyễn hú hí ', CAST(N'2004-11-02' AS Date), N'Nữ', NULL, NULL, NULL, N'Đang học')
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'4551050198', 7, N'CNTTK45D', N'Hồ Quốc Thắng', CAST(N'2004-12-12' AS Date), N'Nam', N'75C Ngô Gia Tự', N'0708007252', N'hoquuocthang1412@gmail.com', N'Đang học')
INSERT [dbo].[SinhVien] ([MSSV], [MaTaiKhoan], [MaLop], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (N'4551050199', 12, N'CNTTK45D', N'Phan Văn Thắng', CAST(N'2004-12-02' AS Date), N'Nam', NULL, NULL, NULL, N'Đang học')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (1, N'admin', N'$2a$11$N9qJq7i9Ak94.P96uk6zEe068r1hX66u8p/u.fPqZ/KxL8xL8xL8x', N'Admin', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (2, N'canbo', N'$2a$11$CvjPkWVMKlvwqtPtwYlNgeD1Ciaeev9/X56CtnaV1S/.ITkUKI4Yq', N'CanBo', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai], [LanDangNhapSai]) VALUES (3, N'giangvien', N'$2a$11$CvjPkWVMKlvwqtPtwYlNgeD1Ciaeev9/X56CtnaV1S/.ITkUKI4Yq', N'GiangVien', 1, 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToanHocPhi] ON 

INSERT [dbo].[ThanhToanHocPhi] ([MaThanhToan], [Mssv], [MaHocKy], [SoTienDong], [NgayDong], [HinhThuc]) VALUES (1, N'4551050198', N'HK2-2025-2026', CAST(8320000 AS Decimal(18, 0)), CAST(N'2026-04-25T02:00:34.813' AS DateTime), N'VNPay / Chuyển khoản')
INSERT [dbo].[ThanhToanHocPhi] ([MaThanhToan], [Mssv], [MaHocKy], [SoTienDong], [NgayDong], [HinhThuc]) VALUES (2, N'4551050198', N'HK2-2025-2026', CAST(20000 AS Decimal(18, 0)), CAST(N'2026-04-25T02:14:21.910' AS DateTime), N'VNPay / Chuyển khoản')
INSERT [dbo].[ThanhToanHocPhi] ([MaThanhToan], [Mssv], [MaHocKy], [SoTienDong], [NgayDong], [HinhThuc]) VALUES (3, N'4551050198', N'HK2-2025-2026', CAST(660000 AS Decimal(18, 0)), CAST(N'2026-04-25T02:38:43.287' AS DateTime), N'Chuyển khoản QR VietQR')
SET IDENTITY_INSERT [dbo].[ThanhToanHocPhi] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DangKyHoc]    Script Date: 4/25/2026 2:40:01 AM ******/
ALTER TABLE [dbo].[DangKyHoc] ADD  CONSTRAINT [UQ_DangKyHoc] UNIQUE NONCLUSTERED 
(
	[MSSV] ASC,
	[MaMon] ASC,
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GiangVien_MaTaiKhoan]    Script Date: 4/25/2026 2:40:01 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_GiangVien_MaTaiKhoan] ON [dbo].[GiangVien]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__KetQuaHo__BA90F02C55FE21D0]    Script Date: 4/25/2026 2:40:01 AM ******/
ALTER TABLE [dbo].[KetQuaHocTap] ADD UNIQUE NONCLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SinhVien_MaTaiKhoan]    Script Date: 4/25/2026 2:40:01 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SinhVien_MaTaiKhoan] ON [dbo].[SinhVien]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC00018B9A6]    Script Date: 4/25/2026 2:40:01 AM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHinhQR] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[DangKyHoc] ADD  DEFAULT ((1)) FOR [LanHoc]
GO
ALTER TABLE [dbo].[HocKy] ADD  DEFAULT (N'Đang diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HocKy] ADD  DEFAULT ((25)) FOR [GioiHanTinChi]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((40)) FOR [SiSoToiDa]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((3)) FOR [SoTinChi]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((0.30)) FOR [HeSoQT]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((0.70)) FOR [HeSoCK]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Đang học') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [LanDangNhapSai]
GO
ALTER TABLE [dbo].[ThanhToanHocPhi] ADD  DEFAULT (getdate()) FOR [NgayDong]
GO
ALTER TABLE [dbo].[ThanhToanHocPhi] ADD  DEFAULT (N'Chuyển khoản trực tuyến') FOR [HinhThuc]
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD FOREIGN KEY([MaLhp])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_LHP] FOREIGN KEY([MaLhp])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_DangKy_LHP]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKyHoc] ([MaDangKy])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_GV] FOREIGN KEY([MaGv])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_GV]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_HK] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_HK]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_Mon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_Mon]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[CauHinhQR]  WITH CHECK ADD CHECK  (([Id]=(1)))
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD CHECK  (([DiemQT]>=(0.0) AND [DiemQT]<=(10.0)))
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD CHECK  (([DiemThi]>=(0.0) AND [DiemThi]<=(10.0)))
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD CHECK  (([ThuTrongTuan]>=(2) AND [ThuTrongTuan]<=(8)))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CHK_MonHoc_HeSo] CHECK  ((([HeSoQT]+[HeSoCK])=(1.00)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CHK_MonHoc_HeSo]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CHK_SinhVien_SDT] CHECK  ((len([SoDienThoai])=(10) AND [SoDienThoai] like '0%'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CHK_SinhVien_SDT]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CHK_SinhVien_Tuoi] CHECK  ((datediff(year,[NgaySinh],getdate())>=(18)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CHK_SinhVien_Tuoi]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'SinhVien' OR [VaiTro]=N'GiangVien' OR [VaiTro]=N'CanBo' OR [VaiTro]=N'Admin'))
GO
USE [master]
GO
